:root {
  
  /*  |----------------|
      |----  CORE  ----|
      |----------------|
  */
  
  /* Fonts */
  --font-sans-serif: sans-serif;
  --font-serif: serif;
  --font-system: system-ui;
  --font-monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  
  /* Colors */
  --blue: #2979ff;
  --blue-medium: #c7dcff;
  --blue-light: #BBD5FF;
  --blue-dark: #0041AE;
  --red: #FF1B1B;
  --red-medium: #FF5858;
  --red-light: #FFCBCB;
  --red-dark: #C90000;
  --green: #3DBD3E;
  --green-medium: #77D378;
  --green-light: #9BE19C;
  --green-dark: #2A9D2A;
  --black: black;
  --white: white;
  --yellow: #F1ED1E;
  --grey: #D4D4D4;
  --grey-medium: #e0e0e0;
  --grey-dark: #3C3D40;
  --dark: #1F1F1F;
  --dark-medium: #212121;
  --dark-light: #424242;
  --main-font: "Lato";
  
  /* Primaries */
  --primary: var(--blue);
  --primary-light: var(--blue-light);
  --primary-dark: var (--blue-dark);
  --secondary: var(--grey-dark);
  --secondary-light: var(--grey);
  --secondary-dark: var(--dark-dark);
  
  /* States */
  --state-success: var(--green);
  --state-success-light: var(--green-light);
  --state-success-medium: var(--green-medium);
  --state-success-dark: var(--green-dark);
  --state-danger: var(--red);
  --state-danger-light: var(--red-light);
  --state-danger-medium: var(--red-medium);
  --state-danger-dark: var(--red-dark);
  --state-light: var(--grey);
  --state-light-medium: var(--grey-medium);
  --state-light-dark: var(--grey-dark);
  --state-dark: var(--dark);
  --state-dark-light: var(--dark-light);
  --state-dark-medium: var(--dark-medium);
  
  /* Components */
  --comp-bg-color: var(--grey);
  --comp-border-color: var(--grey);
  --comp-border-radius: .5rem;
  --comp-border-width: 1px;
  --comp-focus-width: 2px;
  --comp-padding-x: .5rem;
  --comp-padding-y: .5rem;
  --comp-speed: .25s;
  --comp-box-shadow-inner: inset 0 1px 1px rgba(0, 0, 0, .05);
  --comp-box-shadow-outer: 0 1px 0 rgba(0, 0, 0, .05);
  
  /* ------------------- */
  
  
  
  /* Navigation --- */
  --nav-color: var(--main-color);
  --nav-bg: var(--comp-bg-color);
  --menu-color: var(--main-color);
  --menu-bg: var(--light);
  
  /* Typography --- */
  --title-color: var(--black);
  --subtitle-color: var(--grey-y);
  
  /* Alerts --- */
  --alert-border-radius: var(--comp-border-radius);
  --alert-border-width: var(--comp-border-width);
  --alert-padding-x: var(--comp-padding-x);
  --alert-padding-y: var(--comp-padding-y);
   /* Default */
  --alert-bg-color: var(--primary-light);
  --alert-color: var(--primary);
  --alert-border-color: var(--primary);
  /* Secondary */
  --alert-bg-color-secondary: var(--secondary-light);
  --alert-color-secondary: var(--secondary);
  --alert-border-color-secondary: var(--secondary);
  /* Success */
  --alert-bg-color-success: var(--state-success-light);
  --alert-color-success: var(--state-success);
  --alert-border-color-success: var(--state-success);
  /* Danger */
  --alert-bg-color-danger: var(--state-danger-light);
  --alert-color-danger: var(--state-danger);
  --alert-border-color-danger: var(--state-danger);
  /* Light */
  --alert-bg-color-light: var(--state-light);
  --alert-color-light: var(--state-dark);
  --alert-border-color-light: var(--state-dark);
  /* Dark */
  --alert-bg-color-dark: var(--state-dark-medium);
  --alert-color-dark: var(--state-light);
  --alert-border-color-dark: var(--state-light);
  
  /* Badges --- */
  -badge-font-size: .8em;
  /* ems for relative sizing */
  --badge-border-radius: 1em;
  /* ems for relative sizing */
  --badge-focus-width: var(--comp-focus-width);
  --badge-speed: var(--comp-speed);
  
  /* Default */
  --badge-color: var(--white);
  --badge-bg-color: var(--primary);
  /* Default inverted*/
  --badge-color: var(--primary);
  --badge-bg-color: var(--white);
  /* Secondary */
  --badge-color-secondary: var(--white);
  --badge-bg-color-secondary: var(--secondary);
  /* Success */
  --badge-color-success: var(--white);
  --badge-bg-color-success: var(--state-success);
  /* Danger */
  --badge-color-danger: var(--white);
  --badge-bg-color-danger: var(--state-danger);
  /* Light */
  --badge-color-light: var(--state-dark);
  --badge-bg-color-light: var(--state-light);
  /* Dark */
  --badge-color-dark: var(--state-light);
  --badge-bg-color-dark: var(--state-dark);
  
  /* Buttons --- */
  --button-height-xs: var(--input-height-xs);
  --button-height-sm: var(--input-height-sm);
  --button-height: var(--input-height);
  --button-height-lg: var(--input-height-lg);
  --button-height-xl: var(--input-height-xl);
  --button-font-size-xs: var(--input-font-size-xs);
  --button-font-size-sm: var(--input-font-size-sm);
  --button-font-size: var(--input-font-size);
  --button-font-size-lg: var(--input-font-size-lg);
  --button-font-size-xl: var(--input-font-size-xl);
  --button-font-family: var(--input-font-family);
  --button-font-weight: var(--input-font-weight);
  --button-border-radius: var(--comp-border-radius);
  --button-border-width: var(--comp-border-width);
  --button-focus-width: var(--comp-focus-width);
  --button-speed: var(--comp-speed);
  --button-loader-size: 1em;
  --button-loader-border-width: .15em;

  /* Default */
  --button-color: var(--white);
  --button-bg-color: var(--primary);

  /* Secondary */
  --button-color-secondary: var(--white);
  --button-bg-color-secondary: var(--secondary);

  /* Success */
  --button-color-success: var(--white);
  --button-bg-color-success: var(--state-success);

  /* Danger */
  --button-color-danger: var(--white);
  --button-bg-color-danger: var(--state-danger);

  /* Light */
  --button-color-light: var(--state-dark);
  --button-bg-color-light: var(--state-light-medium);

  /* Dark */
  --button-color-dark: var(--state-light);
  --button-bg-color-dark: var(--state-dark);
  
  /* Content --- */
  --body-color: #3C3D40;
  --body-bg-color: var(--white);
  --body-color-muted: var(--gray-medium);

  --font-family: var(--font-system);
  --font-size: 1rem; /* Most browsers use a default font size of 16px */
  --font-size-small: 80%;
  --font-weight-light: 200;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height: 1.5;

  --code-font-size: 90%;
  --code-color: var(--black);
  --code-border-radius: var(--comp-border-radius);
  --code-bg-color: var(--comp-bg-color);
  --code-padding-x: calc(var(--font-size) * .4);
  --code-padding-y: calc(var(--font-size) * .2);

  --headings-font-family: var(--font-system);
  --headings-font-weight: var(--font-weight);
  --headings-line-height: 1.1;
  --headings-margin-bottom: .5rem;
  --headings-color: var(--black);
  --headings-font-size-h1: 2.5rem;
  --headings-font-size-h2: 2rem;
  --headings-font-size-h3: 1.75rem;
  --headings-font-size-h4: 1.5rem;
  --headings-font-size-h5: 1.25rem;
  --headings-font-size-h6: 1rem;

  --hr-border-width: 1px;
  --hr-border-color: var(--comp-border-color);
  --hr-margin-x: 0;
  --hr-margin-y: 2rem;

  --kbd-font-size: 90%;
  --kbd-color: var(--white);
  --kbd-border-radius: var(--comp-border-radius);
  --kbd-bg-color: var(--black);
  --kbd-padding-x: calc(var(--font-size) * .4);
  --kbd-padding-y: calc(var(--font-size) * .2);

  --link-color: var(--primary);
  --link-text-decoration: none;
  --link-color-hover: var(--primary-light);
  --link-text-decoration-hover: none;
  --link-color-transition-speed: 0s;

  --mark-color: inherit;
  --mark-bg-color: var(--color-yellow);
  --mark-padding-x: calc(var(--font-size) * .4);
  --mark-padding-y: calc(var(--font-size) * .2);

  --placeholder-color: var(--body-color-muted);

  --pre-color: var(--code-color);
  --pre-border-radius: var(--comp-border-radius);
  --pre-bg-color: var(--code-bg-color);
  --pre-max-height: none;

  --selection-color: var(--white);
  --selection-bg-color: var(--primary);
  
  /* Input --- */
  --input-height-xs: 1.25rem;
  --input-height-sm: 1.75rem;
  --input-height: 2.25rem;
  --input-height-lg: 2.75rem;
  --input-height-xl: 3.25rem;
  --input-font-size-xs: .625rem;
  --input-font-size-sm: .875rem;
  --input-font-size: 1rem;
  --input-font-size-lg: 1.25rem;
  --input-font-size-xl: 1.5rem;
  --input-font-family: inherit;
  --input-font-weight: inherit;
  --input-color: var(--body-color);
  --input-border-color: var(--comp-border-color);
  --input-border-width: 1px;
  --input-border-radius: var(--comp-border-radius);
  --input-bg-color: var(--white);
  --input-box-shadow: var(--comp-box-shadow-inner);
  --input-readonly-bg-color: var(--comp-bg-color);
  --input-focus-color: var(--primary);
  --input-speed: var(--comp-speed);

  --input-addon-bg-color: var(--comp-bg-color);
  --input-addon-color: var(--body-color-muted);

  --input-hint-color: var(--body-color-muted);
  --input-hint-font-size: var(--font-size-small);

  --input-icon-width: 2em;
  --input-icon-offset: .5em;
  --input-icon-color: var(--secondary);

  --input-range-track-height: .5rem;
  --input-range-track-color: var(--comp-bg-color);
  --input-range-track-box-shadow: var(--comp-box-shadow-inner);
  --input-range-thumb-height: 1.25rem;
  --input-range-thumb-color: var(--primary);

  --input-invalid-color: var(--state-danger);
  --input-invalid-border-color: var(--state-danger);
  --input-valid-color: var(--state-success);
  --input-valid-border-color: var(--state-success);

  --fieldset-border-color: var(--comp-border-color);
  --fieldset-border-width: var(--comp-border-width);
  --fieldset-border-radius: var(--comp-border-radius);
  --fieldset-padding-x: 2rem;
  --fieldset-padding-y: 1.5rem;

  --label-color: inherit;
  
  /* Border radii */
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 10px;
  --border-radius-xl: 14px;
  
  /* Progress Bars --- */
  --progress-height: var(--input-height);
  --progress-height-xs: var(--input-height-xs);
  --progress-height-sm: var(--input-height-sm);
  --progress-height-lg: var(--input-height-lg);
  --progress-height-xl: var(--input-height-xl);
  --progress-font-size: var(--input-font-size);
  --progress-font-size-xs: var(--input-font-size-xs);
  --progress-font-size-sm: var(--input-font-size-sm);
  --progress-font-size-lg: var(--input-font-size-lg);
  --progress-font-size-xl: var(--input-font-size-xl);
  --progress-color: var(--white);
  --progress-bg-color: var(--comp-bg-color);
  --progress-bar-color: var(--primary);
  --progress-border-radius: var(--comp-border-radius);
  --progress-box-shadow: var(--comp-box-shadow-inner);
  --progress-speed: var(--comp-speed);
  --progress-speed-indeterminate: 3s;
  
  /* Switches --- */
  --switch-height: calc(var(--input-height) * .75);
  --switch-height-xs: calc(var(--input-height-xs) * .75);
  --switch-height-sm: calc(var(--input-height-sm) * .75);
  --switch-height-lg: calc(var(--input-height-lg) * .75);
  --switch-height-xl: calc(var(--input-height-xl) * .75);
  --switch-font-size: var(--input-font-size);
  --switch-font-size-xs: var(--input-font-size-xs);
  --switch-font-size-sm: var(--input-font-size-sm);
  --switch-font-size-lg: var(--input-font-size-lg);
  --switch-font-size-xl: var(--input-font-size-xl);
  --switch-border-radius: var(--switch-height);
  --switch-thumb-border-radius: 50%;
  --switch-thumb-spacing: 2px;
  --switch-focus-width: var(--comp-focus-width);
  --switch-speed: var(--comp-speed);
  /* Default */
  --switch-color: var(--primary);
  --switch-bg-color: var(--comp-border-color);
  --switch-thumb-color: var(--white);
  /* Secondary */
  --switch-color-secondary: var(--secondary);
  --switch-bg-color-secondary: var(--comp-border-color);
  --switch-thumb-color-secondary: var(--white);
  /* Success */
  --switch-color-success: var(--state-success);
  --switch-bg-color-success: var(--comp-border-color);
  --switch-thumb-color-success: var(--white);
  /* Danger */
  --switch-color-danger: var(--state-danger);
  --switch-bg-color-danger: var(--comp-border-color);
  --switch-thumb-color-danger: var(--white);
  /* Light */
  --switch-color-light: var(--state-light-medium);
  --switch-bg-color-light: var(--state-light-dark);
  --switch-thumb-color-light: var(--white);
  /* Dark */
  --switch-color-dark: var(--state-dark-medium);
  --switch-bg-color-dark: var(--state-dark-light);
  --switch-thumb-color-dark: var(--white);
  
  /* Spacings and Breakpoints --- */
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;


  /* Core breakpoints */
  @custom-media --breakpoint-xs-up only screen and (min-width: 0);
  @custom-media --breakpoint-sm-up only screen and (min-width: 576px);
  @custom-media --breakpoint-md-up only screen and (min-width: 768px);
  @custom-media --breakpoint-lg-up only screen and (min-width: 992px);
  @custom-media --breakpoint-xl-up only screen and (min-width: 1200px);

  @custom-media --breakpoint-xs-down only screen and (max-width: 575px);
  @custom-media --breakpoint-sm-down only screen and (max-width: 767px);
  @custom-media --breakpoint-md-down only screen and (max-width: 991px);
  @custom-media --breakpoint-lg-down only screen and (max-width: 1199px);
  @custom-media --breakpoint-xl-down only screen and (min-width: 0);

  @custom-media --breakpoint-xs-only only screen and (min-width: 0) and (max-width: 575px);
  @custom-media --breakpoint-sm-only only screen and (min-width: 576px) and (max-width: 767px);
  @custom-media --breakpoint-md-only only screen and (min-width: 768px) and (max-width: 991px);
  @custom-media --breakpoint-lg-only only screen and (min-width: 992px) and (max-width: 1199px);
  @custom-media --breakpoint-xl-only only screen and (min-width: 1200px);
}
