/* === Alerts === */

.alert {
  color: var(--alert-color);
  background-color: var(--alert-bg-color);
  border-color: var(--alert-border-color);
  border-style: solid;
  border-width: var(--alert-border-width);
  border-radius: var(--alert-border-radius);
  padding: var(--alert-padding-y) var(--alert-padding-x);
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.alert:empty {
    display: none;
}

.alert a {
    color: currentcolor;
    font-weight: var(--font-weight-bold);
  }

  .alert > :last-child {
    margin-bottom: 0;
  }

  /* Variations */
  .alert.alert-secondary {
    color: var(--alert-color-secondary);
    background-color: var(--alert-bg-color-secondary);
    border-color: var(--alert-border-color-secondary);
  }

  .alert.alert-success {
    color: var(--alert-color-success);
    background-color: var(--alert-bg-color-success);
    border-color: var(--alert-border-color-success);
  }

  .alert.alert-danger {
    color: var(--alert-color-danger);
    background-color: var(--alert-bg-color-danger);
    border-color: var(--alert-border-color-danger);
  }

  .alert.alert-light {
    color: var(--alert-color-light);
    background-color: var(--alert-bg-color-light);
    border-color: var(--alert-border-color-light);
  }

  .alert.alert-dark {
    color: var(--alert-color-dark);
    background-color: var(--alert-bg-color-dark);
    border-color: var(--alert-border-color-dark);
  }
  
  /* === Badges === */
  
  .badge {
  font-size: var(--badge-font-size);
  color: var(--badge-color);
  background-color: var(--badge-bg-color);
  border-radius: var(--badge-border-radius);
  padding: .2em .6em;
  vertical-align: baseline;
  display: inline-block;
  transition: var(--badge-speed) all;
  }
  
  .badge:empty {
    display: none;
  }

  /* Variations */
  .badge.badge-secondary {
    color: var(--badge-color-secondary);
    background-color: var(--badge-bg-color-secondary);
  }

  .badge.badge-success {
    color: var(--badge-color-success);
    background-color: var(--badge-bg-color-success);
  }

  .badge.badge-danger {
    color: var(--badge-color-danger);
    background-color: var(--badge-bg-color-danger);
  }

  .badge.badge-light {
    color: var(--badge-color-light);
    background-color: var(--badge-bg-color-light);
  }

  .badge.badge-dark {
    color: var(--badge-color-dark);
    background-color: var(--badge-bg-color-dark);
  }

a.badge:hover {
    color: var(--badge-color);
    background-color: var(--badge-bg-color) ;
    text-decoration: none;
  }

  a.badge:focus {
    outline: none;
    box-shadow: 0 0 0 var(--badge-focus-width) var(--badge-bg-color) ;
  }

    a.badge.badge-secondary:hover {
      color: var(--badge-color-secondary);
      background-color: var(--badge-bg-color-secondary);
    }

    a.badge.badge-secondary:focus {
      box-shadow: 0 0 0 var(--badge-focus-width) var(--badge-bg-color-secondary);
    }

    a.badge.badge-success:hover {
      color: var(--badge-color-success);
      background-color: var(--badge-bg-color-success);
    }

    a.badge.badge-success:focus {
      box-shadow: 0 0 0 var(--badge-focus-width) var(--badge-bg-color-success);
  }

    a.badge.badge-danger:hover {
      color: var(--badge-color-danger);
      background-color: var(--badge-bg-color-danger);
    }

    a.badge.badge-danger:focus {
      box-shadow: 0 0 0 var(--badge-focus-width) var(--badge-bg-color-danger);
    }

    a.badge.badge-light:hover {
      color: var(--badge-color-light);
      background-color: var(--badge-bg-color-light);
    }

    a.badge.badge-light:focus {
      box-shadow: 0 0 0 var(--badge-focus-width) var(--badge-bg-color-light);
    }

    a.badge.badge-dark:hover {
      color: var(--badge-color-dark);
      background-color: var(--badge-bg-color-dark);
    }

    a.badge.badge-dark:focus {
      box-shadow: 0 0 0 var(--badge-focus-width) var(--badge-bg-color-dark);
    }
    
    
/* === Buttons === */
    
.button {
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-radius: var(--button-border-radius);
  border-style: solid;
  border-width: var(--button-border-width);
  border-color: var(--button-bg-color);
  border-top-color: var(--button-bg-color);
  border-bottom-color: var(--button-bg-color);
  height: var(--button-height);
  line-height: calc(var(--button-height) - var(--button-border-width) * 2);
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0 .75em; /* ems for relative sizing */
  cursor: pointer;
  display: inline-block;
  transition: var(--button-speed) all;
}

.button:hover {
    color: var(--button-color);
    text-decoration: none;
    background-color: var(--button-bg-color);
    border-color: var(--button-bg-color);
    border-top-color: var(--button-bg-color);
    border-bottom-color: var(--button-bg-color);
  }

  .button:active,
  .button.active {
    background-color: var(--button-bg-color);
    border-color: var(--button-bg-color);
    border-top-color: var(--button-bg-color);
    border-bottom-color: var(--button-bg-color);
  }

  .button:focus {
    outline: none;
    box-shadow: 0 0 0 var(--button-focus-width) var(--button-bg-color);
  }

  .button:disabled,
  .button.disabled {
    background-color: var(--button-bg-color);
    border-top-color: var(--button-bg-color);
    border-bottom-color: var(--button-bg-color);
    box-shadow: none;
    text-decoration: none;
    opacity: .5;
    cursor: not-allowed;
  }

  /* Sizes */
  .button.button-xs {
    font-size: var(--button-font-size-xs);
    height: var(--button-height-xs);
    line-height: calc(var(--button-height-xs) - var(--button-border-width) * 2);
  }

  .button.button-sm {
    font-size: var(--button-font-size-sm);
    height: var(--button-height-sm);
    line-height: calc(var(--button-height-sm) - var(--button-border-width) * 2);
  }

  .button.button-lg {
    font-size: var(--button-font-size-lg);
    height: var(--button-height-lg);
    line-height: calc(var(--button-height-lg) - var(--button-border-width) * 2);
  }

  .button.button-xl {
    font-size: var(--button-font-size-xl);
    height: var(--button-height-xl);
    line-height: calc(var(--button-height-xl) - var(--button-border-width) * 2);
  }
  
  .button.button-secondary {
    color: var(--button-color-secondary);
    background-color: var(--button-bg-color-secondary);
    border-color: var(--button-bg-color-secondary);
    border-top-color: var(--button-bg-color-secondary);
    border-bottom-color: var(--button-bg-color-secondary);
}

    .button.button-secondary:hover {
      color: var(--button-color-secondary);
      background-color: var(--button-bg-color-secondary);
      border-color: var(--button-bg-color-secondary);
      border-top-color: var(--button-bg-color-secondary);
      border-bottom-color: var(--button-bg-color-secondary);
    }

    .button.button-secondary:active,
    .button.button-secondary.active {
      background-color: var(--button-bg-color-secondary);
      border-color: var(--button-bg-color-secondary);
      border-top-color: var(--button-bg-color-secondary);
      border-bottom-color: var(--button-bg-color-secondary);
    }

    .button.button-secondary:focus {
      outline: none;
      box-shadow: 0 0 0 var(--button-focus-width) var(--button-bg-color-secondary);
    }

    .button.button-secondary:disabled,
    .button.button-secondary.disabled {
      background-color: var(--button-bg-color-secondary);
      border-top-color: var(--button-bg-color-secondary);
      border-bottom-color: var(--button-bg-color-secondary);
      box-shadow: none;
    }
    
    .button.button-success {
    color: var(--button-color-success);
    background-color: var(--button-bg-color-success);
    border-color: var(--button-bg-color-success);
    border-top-color: var(--button-bg-color-success);
    border-bottom-color: var(--button-bg-color-success);
 }
 
 .button.button-sucess:hover {
      color: var(--button-color-success);
      background-color: var(--button-bg-color-success);
      border-color: var(--button-bg-color-success);
      border-top-color: var(--button-bg-color-success);
      border-bottom-color: var(--button-bg-color-success);
    }

    .button.button-sucess:active,
    .button.button-sucess.active {
      background-color: var(--button-bg-color-success);
      border-color: var(--button-bg-color-success);
      border-top-color: var(--button-bg-color-success);
      border-bottom-color: var(--button-bg-color-success);
    }

    .button.button-sucess:focus {
      outline: none;
      box-shadow: 0 0 0 var(--button-focus-width) var(--button-bg-color-success);
    }

    .button.button-sucess:disabled,
    .button.button-sucess.disabled {
      background-color: var(--button-bg-color-success);
      border-top-color: var(--button-bg-color-success);
      border-bottom-color: var(--button-bg-color-success);
      box-shadow: none;
    }
  
  .button.button-danger {
    color: var(--button-color-danger);
    background-color: var(--button-bg-color-danger);
    border-color: var(--button-bg-color-danger);
    border-top-color: var(--button-bg-color-danger);
    border-bottom-color: var(--button-bg-color-danger);
  }
  
  .button.button-danger:hover {
      color: var(--button-color-danger);
      background-color: var(--button-bg-color-danger);
      border-color: var(--button-bg-color-danger);
      border-top-color: var(--button-bg-color-danger);
      border-bottom-color: var(--button-bg-color-danger);
    }

    .button.button-danger:active,
    .button.button-danger.active {
      background-color: var(--button-bg-color-danger);
      border-color: var(--button-bg-color-danger);
      border-top-color: var(--button-bg-color-danger);
      border-bottom-color: var(--button-bg-color-danger);
    }

    .button.button-danger:focus {
      outline: none;
      box-shadow: 0 0 0 var(--button-focus-width) var(--button-bg-color-danger);
    }

    .button.button-danger:disabled,
    .button.button-danger.disabled {
      background-color: var(--button-bg-color-danger);
      border-top-color: var(--button-bg-color-danger);
      border-bottom-color: var(--button-bg-color-danger);
      box-shadow: none;
    }
    
    .button.button-light {
    color: var(--button-color-light);
    background-color: var(--button-bg-color-light);
    border-color: var(--button-bg-color-light);
    border-top-color: var(--button-bg-color-light);
    border-bottom-color: var(--button-bg-color-light);
    }
    
    .button.button-light:hover {
      color: var(--button-color-light);
      background-color: var(--button-bg-color-light);
      border-color: var(--button-bg-color-light);
      border-top-color: var(--button-bg-color-light);
      border-bottom-color: var(--button-bg-color-light);
    }

    .button.button-light:active,
    .button.button-light.active {
      background-color: var(--button-bg-color-light);
      border-color: var(--button-bg-color-light);
      border-top-color: var(--button-bg-color-light);
      border-bottom-color: var(--button-bg-color-light);
    }

    .button.button-light:focus {
      outline: none;
      box-shadow: 0 0 0 var(--button-focus-width) var(--button-bg-color-light);
    }

    .button.button-light:disabled,
    .button.button-light.disabled {
      background-color: var(--button-bg-color-light);
      border-top-color: var(--button-bg-color-light);
      border-bottom-color: var(--button-bg-color-light);
      box-shadow: none;
    }
    
    .button.button-dark {
    color: var(--button-color-dark);
    background-color: var(--button-bg-color-dark);
    border-color: var(--button-bg-color-dark);
    border-top-color: var(--button-bg-color-dark);
    border-bottom-color: var(--button-bg-color-dark);
    }
    
    .button.button-dark:hover {
      color: var(--button-color-dark);
      background-color: var(--button-bg-color-dark);
      border-color: var(--button-bg-color-dark);
      border-top-color: var(--button-bg-color-dark);
      border-bottom-color: var(--button-bg-color-dark);
    }

    .button.button-dark:active,
    .button.button-dark.active {
      background-color: var(--button-bg-color-dark);
      border-color: var(--button-bg-color-dark);
      border-top-color: var(--button-bg-color-dark);
      border-bottom-color: var(--button-bg-color-dark);
    }

    .button.button-dark:focus {
      outline: none;
      box-shadow: 0 0 0 var(--button-focus-width) var(--button-bg-color-dark);
    }

    .button.button-dark:disabled,
    .button.button-dark.disabled {
      background-color: var(--button-bg-color-dark);
      border-top-color: var(--button-bg-color-dark);
      border-bottom-color: var(--button-bg-color-dark);
      box-shadow: none;
    }
    
    /* Block buttons */
  .button.button-block {
    width: 100% !important;
    display: block;
  }

  /* Link buttons */
  .button.button-link {
    border-color: transparent;
    background-color: transparent;
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    box-shadow: none;
  }

  .button.button-link:hover,
  .button.button-link:focus {
    border-color: transparent;
    background-color: transparent;
    color: var(--link-color-hover);
    text-decoration: var(--link-text-decoration-hover);
    box-shadow: none;
  }

/* Loader buttons */
.button-loader,
.button-loader:hover {
  position: relative;
  min-width: calc(var(--button-loader-size) * 2);
  color: transparent !important;
  overflow: hidden;
}

.button-loader::after {
  content: '';
  position: absolute;
  top: calc(50% - calc(var(--button-loader-size) / 2));
  left: calc(50% - calc(var(--button-loader-size) / 2));
  width: var(--button-loader-size);
  height: var(--button-loader-size);
  border-radius: 50%;
  border: solid var(--button-loader-border-width) var(--button-color) alpha(20%);
  border-top-color: var(--button-color);
  border-left-color: var(--button-color);
  display: inline-block;
  animation: button-loader var(--loader-speed) linear infinite;
}

.button-secondary.button-loader::after {
  border-color: var(--button-color-secondary);
  border-top-color: var(--button-color-secondary);
  border-left-color: var(--button-color-secondary);
}

.button-success.button-loader::after {
  border-color: var(--button-color-success) ;
  border-top-color: var(--button-color-success);
  border-left-color: var(--button-color-success);
}

.button-danger.button-loader::after {
  border-color: var(--button-color-danger) ;
  border-top-color: var(--button-color-danger);
  border-left-color: var(--button-color-danger);
}

.button-light.button-loader::after {
  border-color: var(--button-color-light) ;
  border-top-color: var(--button-color-light);
  border-left-color: var(--button-color-light);
}

.button-dark.button-loader::after {
  border-color: var(--button-color-dark) ;
  border-top-color: var(--button-color-dark);
  border-left-color: var(--button-color-dark);
}

@keyframes button-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* === Content === */

/* Box sizing reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Hidden property reset */
[hidden] {
  display: none !important;
}

/* Basics */

body {
  background: var(--body-bg-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--body-color);
  line-height: var(--line-height);
}

a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  transition : all var(--link-color-transition-speed);
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: var(--link-text-decoration-hover);
}

abbr[title] {
  text-decoration: none;
  border-bottom: dashed 2px currentcolor;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

blockquote {
  font-size: 105%;
  border-left: solid .3rem var(--comp-border-color);
  padding: .5rem .5rem .5rem 1rem;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

blockquote :last-child {
  margin-bottom: 0;
}

code {
  font-family: var(--font-monospace);
  font-size: var(--code-font-size);
  color: var(--code-color);
  background-color: var(--code-bg-color);
  border-radius: var(--code-border-radius);
  padding: var(--code-padding-y) var(--code-padding-x);
}

del {
  color: var(--red);
}

figure {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  color: var(--headings-color);
  margin-top: 0;
  margin-bottom: var(--headings-margin-bottom);
}

h1 { font-size: var(--headings-font-size-h1); }
h2 { font-size: var(--headings-font-size-h2); }
h3 { font-size: var(--headings-font-size-h3); }
h4 { font-size: var(--headings-font-size-h4); }
h5 { font-size: var(--headings-font-size-h5); }
h6 { font-size: var(--headings-font-size-h6); }

hr {
  border: none;
  border-top: solid var(--hr-border-width) var(--hr-border-color);
  margin: var(--hr-margin-y) var(--hr-margin-x);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

ins {
  color: var(--green);
}

kbd {
  font-family: var(--font-monospace);
  font-size: var(--kbd-font-size);
  color: var(--kbd-color);
  background-color: var(--kbd-bg-color);
  border-radius: var(--kbd-border-radius);
  padding: var(--kbd-padding-y) var(--kbd-padding-x);
}

mark {
  color: var(--mark-color);
  background-color: var(--mark-bg-color);
  padding: var(--mark-padding-y) var(--mark-padding-x);
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

pre {
  max-height: var(--pre-max-height);
  overflow-y: auto;
  font-family: var(--font-monospace);
  color: var(--pre-color);
  background-color: var(--pre-bg-color);
  border-radius: var(--pre-border-radius);
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

small {
  font-size: var(--font-size-small);
}

/* Lists */

dl {
  margin-bottom: 1.5rem;
}

dt {
  font-weight: var(--font-weight-bold);
}

dd {
  margin-left: 0;
  margin-bottom: 1.5rem;
}

ol,
ul {
  line-height: var(--line-height);
  margin-top: 0;
  margin-bottom: 1.5rem;
}

  ol ol, ul ol,
  ol ul, ul ul {
    margin-bottom: 0;
  }
  
  /* Placeholder */
  
::placeholder {
  color: var(--placeholder-color);
}

/* Selection */

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-color);
  text-shadow: none !important;
}


/* === Forms === */

fieldset {
  border: solid var(--fieldset-border-width) var(--fieldset-border-color);
  border-radius: var(--fieldset-border-radius);
  padding: var(--fieldset-padding-y) var(--fieldset-padding-x);
  margin-bottom: 1.5rem;
}

fieldset legend {
    font-weight: var(--font-weight-bold);
    padding: 0 .25rem;
  }

  fieldset > :last-child {
    margin-bottom: 0;
  }
  
  label {
  color: var(--label-color);
  display: inline-block;
  margin-bottom: .25rem;
  }
  
  label + label {
    margin-left: 1rem;
  }
  
  input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  width: 100%;
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  color: var(--input-color);
  border: solid var(--input-border-width) var(--input-border-color);
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
  background-color: var(--input-bg-color);
  height: var(--input-height);
  line-height: var(--input-height);
  vertical-align: middle;
  display: block;
  padding-left: .5rem;
  padding-right: .5rem;
  margin: 0;
  transition:
    var(--input-speed) border-color,
    var(--comp-speed) background-color,
    var(--comp-speed) color;
  white-space: nowrap;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--input-focus-color);
  }

  input[disabled], select[disabled], textarea[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }

  input[readonly], select[readonly], textarea[readonly] {
    background-color: var(--input-readonly-bg-color);
  }
  
  input[type="color"] {
    padding: .5rem;
  }

    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
      border: none;
      border-radius: var(--input-border-radius);
    }
    
    input.input-xs, select.input-xs, textarea.input-xs {
    font-size: var(--input-font-size-xs);
    height: var(--input-height-xs);
    line-height: var(--input-height-xs);
  }

  input.input-sm, select.input-sm, textarea.input-sm {
    font-size: var(--input-font-size-sm);
    height: var(--input-height-sm);
    line-height: var(--input-height-sm);
  }

  input.input-lg, select.input-lg, textarea.input-lg {
    font-size: var(--input-font-size-lg);
    height: var(--input-height-lg);
    line-height: var(--input-height-lg);
  }

  input.input-xl, select.input-xl, textarea.input-xl {
    font-size: var(--input-font-size-xl);
    height: var(--input-height-xl);
    line-height: var(--input-height-xl);
  }
  
  input[type="checkbox"],
input[type="radio"] {
  vertical-align: 1px;
}

select {
  position: relative;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='26px' viewBox='0 0 41 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path-3' fill='%23000000' points='0 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right .4rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1.5rem;
}

textarea,
textarea.input-xs,
textarea.input-sm,
textarea.input-lg,
textarea.input-xl {
  height: auto;
  resize: vertical;
  line-height: var(--line-height);
  white-space: pre-wrap;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: 1px;
}

select {
  position: relative;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='41px' height='26px' viewBox='0 0 41 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon id='Path-3' fill='%23000000' points='0 5.38215461 19.9830489 25.3652035 40.1398855 5.20836689 34.9315186 0 19.8691842 15.0623344 4.83971338 0.0328636246'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: right .4rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1.5rem;
}

textarea,
textarea.input-xs,
textarea.input-sm,
textarea.input-lg,
textarea.input-xl {
  height: auto;
  resize: vertical;
  line-height: var(--line-height);
  white-space: pre-wrap;
}


input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: var(--input-height);
  line-height: var(--input-height);
  vertical-align: middle;
}

/* WARNING: INPUT RANGE SUPPORTS ONLY WEBKIT TILL NOW */

input[type="range"]:focus {
    outline: none;
  }

  /* Webkit */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--input-range-track-height);
    cursor: pointer;
    background: var(--input-range-track-color);
    border-radius: var(--input-border-radius);
    border: none;
    box-shadow: var(--input-range-track-box-shadow);
  }

  input[type="range"]::-webkit-slider-thumb {
    border: none;
    width: var(--input-range-thumb-height);
    height: var(--input-range-thumb-height);
    border-radius: 50%;
    background: var(--input-range-thumb-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: calc(var(--input-range-thumb-height) / -2 + var(--input-range-track-height) / 2);
  }
  
   input[type="range"]:focus::-webkit-slider-runnable-track {
      background: var(--input-range-track-color);
    }

    input[type="range"]:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 var(--comp-focus-width) var(--input-range-thumb-color);
    }
    
    /* Input fields */
.input-field {
  margin-bottom: 1.5rem;
}

/* Input groups */
.input-group {
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;
}

.input-group > input,
  .input-group > button,
  .input-group > .button,
  .input-group > .dropdown button,
  .input-group > .dropdown .button,
  .input-group > .file-button label,
  .input-group > .input-icon input,
  .input-group > .input-icon select {
    border-radius: 0;
  }

  .input-group > input:first-child,
  .input-group > button:first-child,
  .input-group > .button:first-child,
  .input-group > .dropdown:first-child button,
  .input-group > .dropdown:first-child .button,
  .input-group > .file-button:first-child label,
  .input-group > .input-icon:first-child input,
  .input-group > .input-icon:first-child select {
    border-top-left-radius: var(--input-border-radius);
    border-bottom-left-radius: var(--input-border-radius);
  }

  .input-group > input:last-child,
  .input-group > button:last-child,
  .input-group > .button:last-child,
  .input-group > .dropdown:last-child button,
  .input-group > .dropdown:last-child .button,
  .input-group > .file-button:last-child label,
  .input-group > .input-icon:last-child input,
  .input-group > .input-icon:last-child select {
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
  }
  
  .input-group > input:last-child,
  .input-group > button:last-child,
  .input-group > .button:last-child,
  .input-group > .dropdown:last-child button,
  .input-group > .dropdown:last-child .button,
  .input-group > .file-button:last-child label,
  .input-group > .input-icon:last-child input,
  .input-group > .input-icon:last-child select {
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
  }

  .input-group > input + input {
    border-left-width: 0;
  }

  .input-group > input + input:focus {
    border-left-width: var(--input-border-width);
    margin-left: calc(var(--input-border-width) * -1);
  }

  /* Force a new stacking context so focus rings don't get truncated by adjacent elements */
  .input-group button:focus,
  .input-group .button:focus,
  .input-group .file-button input[type="file"]:focus + label {
    transform: translateZ(0);
  }
  
  /* Input hints */
.input-hint {
  font-size: var(--input-hint-font-size);
  color: var(--input-hint-color);
  margin: .25rem 0 0 0;
  display: block;
}

/* Input groups can have input hints, but we need to adjust margins a bit */
.input-group + .input-hint {
  margin-top: -1.25rem; /* input group margin - input hint margin */
  margin-bottom: 1.5rem;
}

/* Validation */
  .input-valid label {
    color: var(--input-invalid-color) !important;
  }

  .input-valid input,
  .input-valid select,
  .input-valid textarea {
    color: var(--input-invalid-color) !important;
    border-color: var(--input-invalid-border-color) !important;
  }

  .input-valid .input-icon :first-child:not(input, select), .input-valid .input-icon :last-child:not(input, select) {
    color: var(--input-invalid-color);
  }
  
  
  /* === Loader === */
  
  .loader {
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;
  border-style: solid;
  border-width: var(--loader-thickness);
  border-color: var(--loader-bg-color);
  border-top-color: var(--loader-color);
  border-left-color: var(--loader-color);
  display: inline-block;
  animation: loader var(--loader-speed) linear infinite;
  margin: var(--loader-margin-y) var(--loader-margin-x);
  vertical-align: middle;
  }
  
  /* Sizes */
  .loader.loader-xs {
    width: var(--loader-size-xs);
    height: var(--loader-size-xs);
    border-width: var(--loader-thickness-xs);
  }

  .loader.loader-sm {
    width: var(--loader-size-sm);
    height: var(--loader-size-sm);
    border-width: var(--loader-thickness-sm);
  }

  .loader.loader-lg {
    width: var(--loader-size-lg);
    height: var(--loader-size-lg);
    border-width: var(--loader-thickness-lg);
  }

  .loader.loader-xl {
    width: var(--loader-size-xl);
    height: var(--loader-size-xl);
    border-width: var(--loader-thickness-xl);
  }

  /* Variations */
  .loader.loader-secondary {
    border-color: var(--loader-bg-color-secondary);
    border-top-color: var(--loader-color-secondary);
    border-left-color: var(--loader-color-secondary);
  }

  .loader.loader-success {
    border-color: var(--loader-bg-color-success);
    border-top-color: var(--loader-color-success);
    border-left-color: var(--loader-color-success);
  }

  .loader.loader-info {
    border-color: var(--loader-bg-color-info);
    border-top-color: var(--loader-color-info);
    border-left-color: var(--loader-color-info);
  }

  .loader.loader-warning {
    border-color: var(--loader-bg-color-warning);
    border-top-color: var(--loader-color-warning);
    border-left-color: var(--loader-color-warning);
  }

  .loader.loader-danger {
    border-color: var(--loader-bg-color-danger);
    border-top-color: var(--loader-color-danger);
    border-left-color: var(--loader-color-danger);
  }

  .loader.loader-light {
    border-color: var(--loader-bg-color-light);
    border-top-color: var(--loader-color-light);
    border-left-color: var(--loader-color-light);
  }

  .loader.loader-dark {
    border-color: var(--loader-bg-color-dark);
    border-top-color: var(--loader-color-dark);
    border-left-color: var(--loader-color-dark);
  }
  
  @keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* === Progress === */

.progress {
  position: relative;
  width: 100%;
  height: var(--progress-height);
  line-height: var(--progress-height);
  font-size: var(--progress-font-size);
  background-color: var(--progress-bg-color);
  border-radius: var(--progress-border-radius);
  display: block;
  overflow: hidden;
  margin-bottom: 1.5rem;
  box-shadow: var(--progress-box-shadow);
}

.progress .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    text-align: center;
    color: var(--progress-color);
    background-color: var(--progress-bar-color);
    transition: var(--progress-speed) width;
    user-select: none;
    cursor: default;
  }

  .progress.progress-indeterminate .progress-bar {
    width: 75% !important;
    animation: progress-indeterminate ease-in-out var(--progress-speed-indeterminate) infinite;
  }

  /* Sizes */
  .progress.progress-xs {
    font-size: var(--progress-font-size-xs);
    height: var(--progress-height-xs);
    line-height: var(--progress-height-xs);
  }

  .progress.progress-sm {
    font-size: var(--progress-font-size-sm);
    height: var(--progress-height-sm);
    line-height: var(--progress-height-sm);
  }

  .progress.progress-lg {
    font-size: var(--progress-font-size-lg);
    height: var(--progress-height-lg);
    line-height: var(--progress-height-lg);
  }

  .progress.progress-xl {
    font-size: var(--progress-font-size-xl);
    height: var(--progress-height-xl);
    line-height: var(--progress-height-xl);
  }
  
  /* Variations */
 .progress.progress-secondary .progress-bar {
      background-color: var(--secondary);
    }

  .progress.progress-success .progress-bar {
      background-color: var(--state-success);
    }

  .progress.progress-danger .progress-bar {
      background-color: var(--state-danger);
    }

  .progress.progress-light {
    background-color: var(--state-dark);
}
    .progress.progress-light .progress-bar {
      color: var(--state-dark);
      background-color: var(--state-light);
    }

  .progress.progress-dark {
    background-color: var(--state-light);
}
    .progress.progress-dark .progress-bar {
      color: var(--state-light);
      background-color: var(--state-dark);
}

@keyframes progress-indeterminate {
  0% {
    left: -65%;
  }

  50% {
    left: 90%;
  }

  100% {
    left: -65%;
  }
}


/* === Switches === */

.switch {
  font-size: var(--switch-font-size);
  position: relative;
}

.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}

    .switch input + label {
      position: relative;
      min-width: calc(var(--switch-height) * 2);
      border-radius: var(--switch-border-radius);
      height: var(--switch-height);
      line-height: var(--switch-height);
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(var(--switch-height) * 2 + .5rem);
    }

    .switch input + label::before,
    .switch input + label::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(var(--switch-height) * 2);
      bottom: 0;
      display: block;
    }

    .switch input + label::before {
      right: 0;
      background-color: var(--switch-bg-color);
      border-radius: var(--switch-border-radius);
      transition: var(--switch-speed) all;
    }

    .switch input + label::after {
      top: var(--switch-thumb-spacing);
      left: var(--switch-thumb-spacing);
      width: calc(var(--switch-height) - var(--switch-thumb-spacing) * 2);
      height: calc(var(--switch-height) - var(--switch-thumb-spacing) * 2);
      border-radius: var(--switch-thumb-border-radius);
      background-color: var(--switch-thumb-color);
      transition: var(--switch-speed) margin;
    }

    .switch input:checked + label::before {
      background-color: var(--switch-color);
    }

    .switch input:checked + label::after {
      margin-left: var(--switch-height);
    }

    .switch input:focus + label::before {
      outline: none;
      box-shadow: 0 0 0 var(--switch-focus-width) var(--switch-color);
    }

    .switch input:disabled + label {
      opacity: .5;
      cursor: not-allowed;
    }
    
    /* WARNING: SWITCHES DON'T HAVE VARIATIONS OR OTHER SIZES */
      .switch {
    font-size: var(--switch-font-size);
      }
     
     .switch input + label {
        min-width: calc(var(--switch-height) * 2);
        height: var(--switch-height);
        line-height: var(--switch-height);
        text-indent: calc(var(--switch-height) * 2 + .5rem);
      }

      .switch input + label::before,
      .switch input + label::after {
        width: calc(var(--switch-height) * 2);
      }

      .switch input + label::after {
        width: calc(var(--switch-height) - var(--switch-thumb-spacing) * 2);
        height: calc(var(--switch-height) - var(--switch-thumb-spacing) * 2);
      }

      .switch input:checked + label::after {
        margin-left: var(--switch-height);
      }


/* =========
  GRID SYSTEM (by simplegrid.io)
   ========= */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {

  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {

  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

/* === Utilities === */

/* Text color */
.text-primary { color: var(--primary) !important; }
.text-secondary { color: var(--secondary) !important; }
.text-success { color: var(--state-success) !important; }
.text-success { color: var(--state-success) !important; }
.text-info { color: var(--state-info) !important; }
.text-warning { color: var(--state-warning) !important; }
.text-danger { color: var(--state-danger) !important; }
.text-light { color: var(--state-light) !important; }
.text-dark { color: var(--state-dark) !important; }

/* Text style */
.text-small { font-size: var(--font-size-small) !important; }
.text-bold { font-weight: var(--font-weight-bold) !important; }
.text-italic { font-style: italic !important; }
.text-muted { color: var(--body-color-muted) !important; }

/* Text family */
.font-serif { font-family: var(--font-serif);}
.font-sans-serif { font-family: var(--font-sans-serif);}
.font-monospace { font-family: var(--font-monospace);}
.font-system{ font-family: var(--font-system);}

/* Text alignment */
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-justify { text-align: justify !important; }

/* Text case */
.text-lowercase { text-transform: lowercase !important; }
.text-uppercase { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

/* Text wrapping */
.text-nowrap { white-space: nowrap !important; }


/* Background utilities*/

.bg-primary { background-color: var(--primary) !important; }
.bg-secondary { background-color: var(--secondary) !important; }
.bg-success { background-color: var(--state-success) !important; }
.bg-info { background-color: var(--state-info) !important; }
.bg-warning { background-color: var(--state-warning) !important; }
.bg-danger { background-color: var(--state-danger) !important; }
.bg-light { background-color: var(--state-light) !important; }
.bg-dark { background-color: var(--state-dark) !important; }


/*Display utilities*/

@media (--breakpoint-xs-only) { .hide-xs { display: none !important; } }
@media (--breakpoint-xs-up) { .hide-xs-up { display: none !important; } }
@media (--breakpoint-xs-down) { .hide-xs-down { display: none !important; } }

@media (--breakpoint-sm-only) { .hide-sm { display: none !important; } }
@media (--breakpoint-sm-up) { .hide-sm-up { display: none !important; } }
@media (--breakpoint-sm-down) { .hide-sm-down { display: none !important; } }

@media (--breakpoint-md-only) { .hide-md { display: none !important; } }
@media (--breakpoint-md-up) { .hide-md-up { display: none !important; } }
@media (--breakpoint-md-down) { .hide-md-down { display: none !important; } }

@media (--breakpoint-lg-only) { .hide-lg { display: none !important; } }
@media (--breakpoint-lg-up) { .hide-lg-up { display: none !important; } }
@media (--breakpoint-lg-down) { .hide-lg-down { display: none !important; } }

@media (--breakpoint-xl-only) { .hide-xl { display: none !important; } }
@media (--breakpoint-xl-up) { .hide-xl-up { display: none !important; } }
@media (--breakpoint-xl-down) { .hide-xl-down { display: none !important; } }


/*Float utilities*/

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}


/*Sizing utilities*/

.w-0 { width: 0% !important; }
.w-5 { width: 5% !important; }
.w-10 { width: 10% !important; }
.w-15 { width: 15% !important; }
.w-20 { width: 20% !important; }
.w-25 { width: 25% !important; }
.w-30 { width: 30% !important; }
.w-35 { width: 35% !important; }
.w-40 { width: 40% !important; }
.w-45 { width: 45% !important; }
.w-50 { width: 50% !important; }
.w-55 { width: 55% !important; }
.w-60 { width: 60% !important; }
.w-65 { width: 65% !important; }
.w-70 { width: 70% !important; }
.w-75 { width: 75% !important; }
.w-80 { width: 80% !important; }
.w-85 { width: 85% !important; }
.w-90 { width: 90% !important; }
.w-95 { width: 95% !important; }
.w-100 { width: 100% !important; }

.h-0 { height: 0% !important; }
.h-5 { height: 5% !important; }
.h-10 { height: 10% !important; }
.h-15 { height: 15% !important; }
.h-20 { height: 20% !important; }
.h-25 { height: 25% !important; }
.h-30 { height: 30% !important; }
.h-35 { height: 35% !important; }
.h-40 { height: 40% !important; }
.h-45 { height: 45% !important; }
.h-50 { height: 50% !important; }
.h-55 { height: 55% !important; }
.h-60 { height: 60% !important; }
.h-65 { height: 65% !important; }
.h-70 { height: 70% !important; }
.h-75 { height: 75% !important; }
.h-80 { height: 80% !important; }
.h-85 { height: 85% !important; }
.h-90 { height: 90% !important; }
.h-95 { height: 95% !important; }
.h-100 { height: 100% !important; }

.w-max-100 { max-width: 100% !important; }
.h-max-100 { max-width: 100% !important; }


/* Spacing utilities */

.pad-0 { padding: 0 !important; }
.pad-x-0 { padding-left: 0 !important; padding-right: 0 !important; }
.pad-y-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.pad-t-0 { padding-top: 0 !important; }
.pad-r-0 { padding-right: 0 !important; }
.pad-b-0 { padding-bottom: 0 !important; }
.pad-l-0 { padding-left: 0 !important; }

.pad-xs { padding: var(--spacing-xs) !important; }
.pad-x-xs { padding-left: var(--spacing-xs) !important; padding-right: var(--spacing-xs) !important; }
.pad-y-xs { padding-top: var(--spacing-xs) !important; padding-bottom: var(--spacing-xs) !important; }
.pad-t-xs { padding-top: var(--spacing-xs) !important; }
.pad-r-xs { padding-right: var(--spacing-xs) !important; }
.pad-b-xs { padding-bottom: var(--spacing-xs) !important; }
.pad-l-xs { padding-left: var(--spacing-xs) !important; }

.pad-sm { padding: var(--spacing-sm) !important; }
.pad-x-sm { padding-left: var(--spacing-sm) !important; padding-right: var(--spacing-sm) !important; }
.pad-y-sm { padding-top: var(--spacing-sm) !important; padding-bottom: var(--spacing-sm) !important; }
.pad-t-sm { padding-top: var(--spacing-sm) !important; }
.pad-r-sm { padding-right: var(--spacing-sm) !important; }
.pad-b-sm { padding-bottom: var(--spacing-sm) !important; }
.pad-l-sm { padding-left: var(--spacing-sm) !important; }

.pad-md { padding: var(--spacing-md) !important; }
.pad-x-md { padding-left: var(--spacing-md) !important; padding-right: var(--spacing-md) !important; }
.pad-y-md { padding-top: var(--spacing-md) !important; padding-bottom: var(--spacing-md) !important; }
.pad-t-md { padding-top: var(--spacing-md) !important; }
.pad-r-md { padding-right: var(--spacing-md) !important; }
.pad-b-md { padding-bottom: var(--spacing-md) !important; }
.pad-l-md { padding-left: var(--spacing-md) !important; }

.pad-lg { padding: var(--spacing-lg) !important; }
.pad-x-lg { padding-left: var(--spacing-lg) !important; padding-right: var(--spacing-lg) !important; }
.pad-y-lg { padding-top: var(--spacing-lg) !important; padding-bottom: var(--spacing-lg) !important; }
.pad-t-lg { padding-top: var(--spacing-lg) !important; }
.pad-r-lg { padding-right: var(--spacing-lg) !important; }
.pad-b-lg { padding-bottom: var(--spacing-lg) !important; }
.pad-l-lg { padding-left: var(--spacing-lg) !important; }

.pad-xl { padding: var(--spacing-xl) !important; }
.pad-x-xl { padding-left: var(--spacing-xl) !important; padding-right: var(--spacing-xl) !important; }
.pad-y-xl { padding-top: var(--spacing-xl) !important; padding-bottom: var(--spacing-xl) !important; }
.pad-t-xl { padding-top: var(--spacing-xl) !important; }
.pad-r-xl { padding-right: var(--spacing-xl) !important; }
.pad-b-xl { padding-bottom: var(--spacing-xl) !important; }
.pad-l-xl { padding-left: var(--spacing-xl) !important; }

.mar-0 { margin: 0 !important; }
.mar-x-0 { margin-left: 0 !important; margin-right: 0 !important; }
.mar-y-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.mar-t-0 { margin-top: 0 !important; }
.mar-r-0 { margin-right: 0 !important; }
.mar-b-0 { margin-bottom: 0 !important; }
.mar-l-0 { margin-left: 0 !important; }

.mar-xs { margin: var(--spacing-xs) !important; }
.mar-x-xs { margin-left: var(--spacing-xs) !important; margin-right: var(--spacing-xs) !important; }
.mar-y-xs { margin-top: var(--spacing-xs) !important; margin-bottom: var(--spacing-xs) !important; }
.mar-t-xs { margin-top: var(--spacing-xs) !important; }
.mar-r-xs { margin-right: var(--spacing-xs) !important; }
.mar-b-xs { margin-bottom: var(--spacing-xs) !important; }
.mar-l-xs { margin-left: var(--spacing-xs) !important; }

.mar-sm { margin: var(--spacing-sm) !important; }
.mar-x-sm { margin-left: var(--spacing-sm) !important; margin-right: var(--spacing-sm) !important; }
.mar-y-sm { margin-top: var(--spacing-sm) !important; margin-bottom: var(--spacing-sm) !important; }
.mar-t-sm { margin-top: var(--spacing-sm) !important; }
.mar-r-sm { margin-right: var(--spacing-sm) !important; }
.mar-b-sm { margin-bottom: var(--spacing-sm) !important; }
.mar-l-sm { margin-left: var(--spacing-sm) !important; }

.mar-md { margin: var(--spacing-md) !important; }
.mar-x-md { margin-left: var(--spacing-md) !important; margin-right: var(--spacing-md) !important; }
.mar-y-md { margin-top: var(--spacing-md) !important; margin-bottom: var(--spacing-md) !important; }
.mar-t-md { margin-top: var(--spacing-md) !important; }
.mar-r-md { margin-right: var(--spacing-md) !important; }
.mar-b-md { margin-bottom: var(--spacing-md) !important; }
.mar-l-md { margin-left: var(--spacing-md) !important; }

.mar-lg { margin: var(--spacing-lg) !important; }
.mar-x-lg { margin-left: var(--spacing-lg) !important; margin-right: var(--spacing-lg) !important; }
.mar-y-lg { margin-top: var(--spacing-lg) !important; margin-bottom: var(--spacing-lg) !important; }
.mar-t-lg { margin-top: var(--spacing-lg) !important; }
.mar-r-lg { margin-right: var(--spacing-lg) !important; }
.mar-b-lg { margin-bottom: var(--spacing-lg) !important; }
.mar-l-lg { margin-left: var(--spacing-lg) !important; }

.mar-xl { margin: var(--spacing-xl) !important; }
.mar-x-xl { margin-left: var(--spacing-xl) !important; margin-right: var(--spacing-xl) !important; }
.mar-y-xl { margin-top: var(--spacing-xl) !important; margin-bottom: var(--spacing-xl) !important; }
.mar-t-xl { margin-top: var(--spacing-xl) !important; }
.mar-r-xl { margin-right: var(--spacing-xl) !important; }
.mar-b-xl { margin-bottom: var(--spacing-xl) !important; }
.mar-l-xl { margin-left: var(--spacing-xl) !important; }

.mar-x-auto { margin-left: auto !important; margin-right: auto !important; }
.mar-y-auto { margin-top: auto !important; margin-bottom: auto !important; }
.mar-xy-auto { margin: auto !important; }