:root {
  
  /*  ----  CORE  ----  */
  
  /* Fonts */
  --font-sans-serif: sans-serif;
  --font-serif: serif;
  --font-system: system-ui;
  --font-monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  
  /* Colors */
  --main-color: #3C3D40;
  --main-bg-color: white;
  --blue: #2979ff;
  --blue-medium: #c7dcff;
  --blue-light: color(var(--blue) tint(50%));
  --red: #FF1B1B;
  --green: #3DBD3E;
  --black: black;
  --white: white;
  --yellow: #F1ED1E;
  --grey: #D4D4D4
  --grey-dark: #3C3D40;
  --dark-dark: #1F1F1F;
  --dark-medium: #212121;
  --dark-light: #424242;
  --main-font: "Lato";
  
  /* Primaries */
  --primary: var(--blue);
  --secondary: var(--grey-dark);
  
  /* States */
  --state-success: var(--green)
  --state-danger: var(--red);
  --state-light: var(--grey);
  --state-dark: var(--dark)
  
  /* Components */
  --comp-bg-color: var(--grey);
  --comp-border-color: var(--grey);
  --comp-border-radius: .25rem;
  --comp-border-width: 1px;
  --comp-focus-width: 2px;
  --comp-padding-x: .5rem;
  --comp-padding-y: .5rem;
  --comp-speed: .25s;
  --comp-box-shadow-inner: inset 0 1px 1px rgba(0, 0, 0, .05);
  --comp-box-shadow-outer: 0 1px 0 rgba(0, 0, 0, .05);
  
  /* ------------------- */
  
  
  
  /* Navigation --- */
  --nav-color: var(--main-color);
  --nav-bg: var(--comp-bg-color);
  --menu-color: color(var(--nav-color) tint(50%))
  --menu-bg: color(var(--nav-bg) shade(25%));
  
  /* Typography --- */
  --title-color: var(--black);
  --subtitle-color: var(--grey-y);
  
  /* Alerts --- */
  --alert-border-radius: var(--comp-border-radius);
  --alert-padding-x: var(--comp-padding-x);
  --alert-padding-y: var(--comp-padding-y);
   /* Default */
  --alert-bg-color: color(var(--primary) tint(50%));
  --alert-color: var(--primary);
  --alert-border-color: color(var(--alert-bg-color) shade(5%));
  /* Secondary */
  --alert-bg-color-secondary: color(var(--secondary) tint(50%));
  --alert-color-secondary: var(--secondary);
  --alert-border-color-secondary: color(var(--alert-bg-color-secondary) shade(5%));
  /* Success */
  --alert-bg-color-success: color(var(--state-success) tint(50%));
  --alert-color-success: var(--state-success);
  --alert-border-color-success: color(var(--alert-bg-color-success) shade(5%));
  /* Danger */
  --alert-bg-color-danger: color(var(--state-danger) tint(50%));
  --alert-color-danger: var(--state-danger);
  --alert-border-color-danger: color(var(--alert-bg-color-danger) shade(5%));
  /* Light */
  --alert-bg-color-light: color(var(--state-light) tint(50%));
  --alert-color-light: var(--state-dark);
  --alert-border-color-light: color(var(--alert-bg-color-light) shade(5%));
  /* Dark */
  --alert-bg-color-dark: color(var(--state-dark) tint(50%));
  --alert-color-dark: var(--state-light);
  --alert-border-color-dark: color(var(--alert-bg-color-dark) shade(5%));
  
  /* Badges --- */
  -badge-font-size: .8em;
  /* ems for relative sizing */
  --badge-border-radius: 1em;
  /* ems for relative sizing */
  --badge-focus-width: var(--comp-focus-width);
  --badge-speed: var(--comp-speed);
  
  /* Default */
  --badge-color: var(--white);
  --badge-bg-color: var(--primary);
  /* Default inverted*/
  --badge-color: var(--primary);
  --badge-bg-color: var(--white);
  /* Secondary */
  --badge-color-secondary: var(--white);
  --badge-bg-color-secondary: var(--secondary);
  /* Success */
  --badge-color-success: var(--white);
  --badge-bg-color-success: var(--state-success);
  /* Danger */
  --badge-color-danger: var(--white);
  --badge-bg-color-danger: var(--state-danger);
  /* Light */
  --badge-color-light: var(--state-dark);
  --badge-bg-color-light: var(--state-light);
  /* Dark */
  --badge-color-dark: var(--state-light);
  --badge-bg-color-dark: var(--state-dark);
  
  /* Buttons --- */
    --button-height-xs: var(--input-height-xs);
  --button-height-sm: var(--input-height-sm);
  --button-height: var(--input-height);
  --button-height-lg: var(--input-height-lg);
  --button-height-xl: var(--input-height-xl);
  --button-font-size-xs: var(--input-font-size-xs);
  --button-font-size-sm: var(--input-font-size-sm);
  --button-font-size: var(--input-font-size);
  --button-font-size-lg: var(--input-font-size-lg);
  --button-font-size-xl: var(--input-font-size-xl);
  --button-font-family: var(--input-font-family);
  --button-font-weight: var(--input-font-weight);
  --button-border-radius: var(--comp-border-radius);
  --button-border-width: var(--comp-border-width);
  --button-focus-width: var(--comp-focus-width);
  --button-speed: var(--comp-speed);
  --button-loader-size: 1em;
  --button-loader-border-width: .15em;

  /* Default */
  --button-color: var(--white);
  --button-bg-color: var(--primary);

  /* Secondary */
  --button-color-secondary: var(--white);
  --button-bg-color-secondary: var(--secondary);

  /* Success */
  --button-color-success: var(--white);
  --button-bg-color-success: var(--state-success);

  /* Danger */
  --button-color-danger: var(--white);
  --button-bg-color-danger: var(--state-danger);

  /* Light */
  --button-color-light: var(--state-dark);
  --button-bg-color-light: color(var(--state-light) shade(10%));

  /* Dark */
  --button-color-dark: var(--state-light);
  --button-bg-color-dark: color(var(--state-dark) tint(10%));
  
  /* Content --- */
  --body-bg-color: var(--white);
  --body-color: var(--black);
  --body-color-muted: var(--gray-medium);

  --font-family: var(--font-system);
  --font-size: 1rem; /* Most browsers use a default font size of 16px */
  --font-size-small: 80%;
  --font-weight-light: 300;
  --font-weight: 400;
  --font-weight-bold: 700;
  --line-height: 1.5;

  --code-font-size: 90%;
  --code-color: var(--black);
  --code-border-radius: var(--comp-border-radius);
  --code-bg-color: var(--comp-bg-color);
  --code-padding-x: calc(var(--font-size) * .4);
  --code-padding-y: calc(var(--font-size) * .2);

  --headings-font-family: var(--font-system);
  --headings-font-weight: var(--font-weight-light);
  --headings-line-height: 1.1;
  --headings-margin-bottom: .5rem;
  --headings-color: inherit;
  --headings-font-size-h1: 2.5rem;
  --headings-font-size-h2: 2rem;
  --headings-font-size-h3: 1.75rem;
  --headings-font-size-h4: 1.5rem;
  --headings-font-size-h5: 1.25rem;
  --headings-font-size-h6: 1rem;

  --hr-border-width: 1px;
  --hr-border-color: var(--comp-border-color);
  --hr-margin-x: 0;
  --hr-margin-y: 2rem;

  --kbd-font-size: 90%;
  --kbd-color: var(--white);
  --kbd-border-radius: var(--comp-border-radius);
  --kbd-bg-color: var(--black);
  --kbd-padding-x: calc(var(--font-size) * .4);
  --kbd-padding-y: calc(var(--font-size) * .2);

  --link-color: var(--primary);
  --link-text-decoration: none;
  --link-color-hover: color(var(--link-color) shade(30%));
  --link-text-decoration-hover: underline;

  --mark-color: inherit;
  --mark-bg-color: var(--color-yellow);
  --mark-padding-x: calc(var(--font-size) * .4);
  --mark-padding-y: calc(var(--font-size) * .2);

  --placeholder-color: var(--body-color-muted);

  --pre-color: var(--code-color);
  --pre-border-radius: var(--comp-border-radius);
  --pre-bg-color: var(--code-bg-color);
  --pre-max-height: none;

  --selection-color: var(--white);
  --selection-bg-color: var(--primary);
  
  /* Input --- */
  --input-height-xs: 1.25rem;
  --input-height-sm: 1.75rem;
  --input-height: 2.25rem;
  --input-height-lg: 2.75rem;
  --input-height-xl: 3.25rem;
  --input-font-size-xs: .625rem;
  --input-font-size-sm: .875rem;
  --input-font-size: 1rem;
  --input-font-size-lg: 1.25rem;
  --input-font-size-xl: 1.5rem;
  --input-font-family: inherit;
  --input-font-weight: inherit;
  --input-color: var(--body-color);
  --input-border-color: var(--comp-border-color);
  --input-border-width: 1px;
  --input-border-radius: var(--comp-border-radius);
  --input-bg-color: var(--white);
  --input-box-shadow: var(--comp-box-shadow-inner);
  --input-readonly-bg-color: var(--comp-bg-color);
  --input-focus-color: var(--primary);
  --input-speed: var(--comp-speed);

  --input-addon-bg-color: var(--comp-bg-color);
  --input-addon-color: var(--body-color-muted);

  --input-hint-color: var(--body-color-muted);
  --input-hint-font-size: var(--font-size-small);

  --input-icon-width: 2em;
  --input-icon-offset: .5em;
  --input-icon-color: var(--secondary);

  --input-range-track-height: .5rem;
  --input-range-track-color: var(--comp-bg-color);
  --input-range-track-box-shadow: var(--comp-box-shadow-inner);
  --input-range-thumb-height: 1.25rem;
  --input-range-thumb-color: var(--primary);

  --input-invalid-color: var(--state-danger);
  --input-invalid-border-color: var(--state-danger);
  --input-valid-color: var(--state-success);
  --input-valid-border-color: var(--state-success);

  --fieldset-border-color: var(--comp-border-color);
  --fieldset-border-width: var(--comp-border-width);
  --fieldset-border-radius: var(--comp-border-radius);
  --fieldset-padding-x: 2rem;
  --fieldset-padding-y: 1.5rem;

  --label-color: inherit;
}